@import "tailwindcss";

@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-xl font-semibold transition-all focus:outline-none focus:ring-2 focus:ring-offset-2 cursor-pointer;
  }

  .btn-primary {
    @apply bg-[#b4c400] text-[#2d3035] px-4 py-2 text-sm hover:bg-[#a0af00] focus:ring-[#2d3035] shadow-lg hover:bg-[#b4c400] hover:text-white transition duration-200;
  }

  .input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:ring-2 focus:ring-[#b4c400] focus:outline-none text-gray-900;
  }

  .label {
    @apply block text-sm font-medium text-gray-700;
  }

}

body {
  /*@apply bg-gradient-to-br from-[#2d3035] via-[#3a3e44] to-[#1f2125];*/
  background: linear-gradient(135deg, #131416 0%, #3c4045 40%, #b4c400 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000; 
  min-height: 100vh;
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

 body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} 

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
